@font-face {
  font-family: "Pixelify";
  src: url("/fonts/pixelify.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  font-family: "Pixelify", sans-serif;
}

p {
  margin: 0;
}